body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #000000, #120b31);  /* Initial dark background */
  color: white;
  height: 100%;
  transition: background 0.5s ease;  /* Smoother transition */
}

html {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;  /* Prevents horizontal scrolling from accidental overflow */
}

#root {
  min-height: 100vh;
}
